.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.triggerButton {
  background-color: #8a4baf !important;
  color: white !important;
}

.triggerButton:hover {
  background-color: #663399 !important;
  color: white !important;
}

.clearButton {
  background-color: #37b635 !important;
}
